.memory-card {
  background-color: #f25a70;
  border-radius: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  height: 155px;
  width: 155px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.memory-card > .icon {
  width: 100px;
}

.memory-card.-front {
  background-color: #fff;
}

.memory-card.-front::before {
  content: "";
  height: 94px;
  width: 95px;
  background-color: #d4d4d4;
  border-radius: 50%;
  position: absolute;
}

.memory-card.-front > .icon {
  position: absolute;
  transform: translateY(-12px);
}
